#main {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@keyframes rollin{
    from {transform: scale(0.25) translate(-100%, -100%);}
}

#shield {
    animation: rollin 3s ease-out forwards;
}

@keyframes croatate{
    0% {transform: translateX(-500px);}
    100% {transform: translateX(0px);}
}

#letterc {
    animation: croatate 2s ease-in-out ;
}

#letters1 {
    animation: croatate 2s ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

#letters2 {
    animation: croatate 2s ease-out;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rollin-shield {
    from {transform: rotate(0.5turn);}
}

#shieldleft {
    animation: rollin-shield 2s;
}

@keyframes stripesbangin {
    0%     {transform: translateX(-500px);}
    50%    {transform: skewX(5deg);}
    100%   {}
}

#lupp3 {
    animation: stripesbangin 4s ease-in;
}

#lmid3 {
    animation: stripesbangin 5s ease-in;
}

@keyframes bottomslide {
    0%     {transform: translateY(500px);}
    50%    {transform: skewy(5deg);}
    100%   {}
}

#lbot3 {
    animation: bottomslide 7s ease-in-out;
}